  GNU nano 2.9.3                                                                            over.rc                                                                                      

on property:sys.post_boot.parsed=1

    # Set read_ahead_kb to 128 after system completes boot
    write /sys/block/mmcblk0/bdi/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0rpmb/bdi/read_ahead_kb 2048
    write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 2048

        #Set Headphone gain
        write /sys/kernel/sound_control/headphone_gain "10 10"
        write /sys/module/snd_soc_wcd9330/parameters/high_perf_mode 1

        # Entropy
        write /proc/sys/kernel/random/read_wakeup_threshold 512
        write /proc/sys/kernel/random/write_wakeup_threshold 1024

        # Kcal Configuration
        write /sys/devices/platform/kcal_ctrl.0/kcal_min 45
        write /sys/devices/platform/kcal_ctrl.0/kcal_cont 255
        write /sys/devices/platform/kcal_ctrl.0/kcal_val 255
        write /sys/devices/platform/kcal_ctrl.0/kcal_hue 0
        write /sys/devices/platform/kcal_ctrl.0/kcal "255 255 255"
        write /sys/devices/platform/kcal_ctrl.0/kcal_enable 1
        write /sys/devices/platform/kcal_ctrl.0/kcal_sat 255

    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/rotational 0
    # VM
    write /proc/sys/vm/dirty_ratio 60
    write /proc/sys/vm/dirty_background_ratio 40
    write /proc/sys/vm/vfs_cache_pressure 10

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable "0"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable "0"

    # BYE Perfd
    write /sys/devices/soc/soc:qcom,bcl/mode "disable"


